img {
    opacity: 0.5;
}
img:hover{
    opacity: 1.0;
}
#h1{
    background-color: green;
    opacity: 1.0;
}
#h1{
    background-color: green;
    opacity: 1.0;
}
#h2{
    background-color: green;
    opacity: 0.8;
}
#h3{
    background-color: green;
    opacity: 0.6;
}
#h4{
    background-color: green;
    opacity: 0.4;
}
#h5{
    background-color: green;
    opacity: 0.2;
}
#h6{
    background-color: green;
    opacity: 0.8;
}
#h7{
    background-color: green;
    opacity: 0.6;
}
#h8{
    background-color: green;
    opacity: 0.4;
}
#h9{
    background-color: green;
    opacity: 0.2;
}