#d1{
    background-color: rgb(72, 215, 72);
}
#d2{
    background-color: rgb(122, 211, 255);
}
h2{
    text-align: center;
    font-weight:bold;
}
h3{
    text-indent: 30px;
    text-decoration: underline;
}
h4{
    text-indent: 30px;
    background-color: rgb(216, 245, 255);
}

#cl1{
    color: blue;
}
#cl2{
    color: red;
}
#cl3{
    color: darkorange;
}

#ta1{
    text-align: left;
}
#ta2{
    text-align: center;
}
#ta3{
    text-align: right;
}
#ta4{
    text-align: justify;
}

#td1{
    text-decoration:line-through;
}
#td2{
    text-decoration: underline;
}

#tt1{
    text-transform:capitalize;
}
#tt2{
    text-transform: uppercase;
}

#ti1{
    text-indent:10%;
}
#ti2{
    text-indent: 30%;
}

#lh1{
    line-height: 1.0 ;
}
#lh2{
    line-height: 1.5;
}
#lh3{
    line-height: 2.5;
}


#ff1{
    font-family:'Times New Roman', Times, serif;
}
#ff2{
    font-family: Arial, Helvetica, sans-serif;
}
#ff3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ff4{
    font-family:cursive;
}
#ff5{
    font-family:'Courier New', Courier, monospace;
}

#fst1{
    font-style: oblique;
}

#fw1{
    font-weight:bold;
}

#fs1{
    font-size: small;
}
#fs2{
    font-size:medium;
}
#fs3{
    font-size: large;
}
#fs4{
    font-size: x-large;
}
#fs5{
    font-size: xx-large;
}