h1{
    text-align: justify;
    margin: 1vw;
}
.d1 {
    margin-left: 40%;
    margin-top: 10%;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.d2 {
    margin-left: 110px;
    background-color: green;
    height: 100px;
    width: 100px;
}

.d3 {
    margin-left: 110px;
    background-color: green;
    height: 100px;
    width: 100px;
}



.d4 {
    margin-left: 40%;
    background-color: green;
    height: 100px;
    width: 100px;
}

.d5 {
    margin-left: 110px;
    background-color: green;
    height: 100px;
    width: 100px;
}


.d6 {
    margin-left: 40%;
    background-color: green;
    height: 100px;
    width: 100px;
}

.d7 {
    margin-left: 110px;
    background-color: green;
    height: 100px;
    width: 100px;
}

.d8 {
    margin-left: 110px;
    background-color: green;
    height: 100px;
    width: 100px;
}

.d9 {
    margin-left: 40%;
    background-color: green;
    height: 100px;
    width: 100px;
}

.d10 {
    margin-left: 110px;
    background-color: green;
    height: 100px;
    width: 100px;
}
div{
    margin-bottom: 10px;
    border-radius: 10px;
}
