/*Menu*/
.flex-container {
    display: flex;
    justify-content: center;
    background-color: rgb(178, 245, 182);
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: solid rgb(14, 165, 25);
    font-family: 'Montserrat', sans-serif;
}

.flex-container>div {
    align-self: center;
}

.title {
    flex-basis: 100%;
    text-indent: 2vw;
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}



/*Corpo do site*/
.flex-container-2 {
    display: inline-block;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-right: solid rgb(14, 165, 25);
    width: 80%;
    height: 35vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    flex-basis: 100%;
    text-align: left;
    font-size: 2vw;
    margin: 1vw;
    font-family: 'Montserrat', sans-serif;
}

.flex-container-2>div {
    display: inline-block;
    height: 8vw;
    width: 10vw;
    text-align: center;
    margin: 1vw;
    border: solid 1px black;
    font-size: 1vw;
}
.num{
    font-size: 2vw;
}


/*Box Lateral*/
.box-lateral {
    width: 19%;
    height: 30vw;
    float: right;
    font-size: 1.5vw;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.box-lateral .lorem {
    font-size: 0.8vw;
    margin: 1vw;
    text-indent: 3vw;
    line-height: 2vw;
}

#box-lateral {
    text-align: center;
}

/*Rodapé*/
.rodape {
    background-position: center;
    background-color: rgb(178, 245, 182);
    text-align: center;
    border-top: solid rgb(14, 165, 25);
    padding: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

/*fonte!!!*/
