.d1{
    background-color: lightgreen;
}
.d2{
   background-color: #008000
}

#esc{
    background-color: #004d00;
}

.d3{
    background-color: #cc0000;
}
.d4{
    background-color: #ff3333;
}
#p3{
    background-color: #800000;
}